# ==========
# Python
# ==========

__pycache__/
*.py[cod]
*$py.class
venv/
env/
ENV/
.venv
.idea/
.vscode/
*.swp
*.swo
*.egg-info/
dist/
build/
.ipynb_checkpoints/

# ==========
# Bash
# ==========

*.bak
*.old
*.orig

# ==========
# OS
# ==========

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# ==========
# tmp and env files
# ==========

*.tmp
*.temp
*.cache
*.env*